<!DOCTYPE html>
<html>
  <head>
	<title>Pismail - Ultimate anti-spam solution!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

	<!-- Included Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>

	<!-- CSS Files comes here -->
	<link href="css/grid12.css" rel="stylesheet" media="screen">                              	 <!-- Grid System -->
	<link href="css/james_typography.css" rel="stylesheet" media="screen">                       <!-- James Framework - TYPOGRAPHY -->
	<link href="css/main.css" rel="stylesheet" media="screen">                                   <!-- Main CSS file -->
    <link href="css/color_scheme_light.css" rel="stylesheet" media="screen">                     <!-- Color scheme (dark/light)-->
	<link href="css/colors/color_palette_indigo.css" rel="stylesheet" media="screen">            <!-- Color palette -->
	<link href="css/rapid-icons.css" rel="stylesheet" media="screen">                            <!-- James Framework - ICONS -->
	<link href="css/responsivity.css" rel="stylesheet" media="screen">                           <!-- Responsive Fixes -->
	<link href="css/animate.css" rel="stylesheet" media="screen">                                <!-- Animate - animations -->
	<link href="css/nivo-lightbox.css" rel="stylesheet" media="screen">                          <!-- Lightbox Styles -->
    <link href="css/nivo_lightbox_themes/default/default.css" rel="stylesheet" media="screen">   <!-- Lightbox Styles -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">                           <!-- Owl - Carousel -->
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">                      		 <!-- Owl - Carousel -->
    <link href="css/owl.transitions.css" rel="stylesheet" media="screen">                        <!-- Owl - Carousel -->

	<!-- Modernizer and IE specyfic files -->
	<script src="js/modernizr.custom.js"></script>
  </head>

  <body>
	<div id="preloader_container">

		<!-- Fullscreen homepage -->
		<section class="hero_fullscreen background_solid">
			<!-- Logo and navigation -->
		  	<div class="container" >
		  		<div class="row">
		  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outher">
                        <a href="/"><img src="images/logo.png" alt="logo" class="logo inner"/></a>
			  			<div class="inner float-right contact"><p><script type="text/javascript">eval(unescape("%6f%74%66%77%76%38%31%3d%5b%27%25%37%35%25%36%64%25%37%35%25%37%34%25%36%37%25%36%66%25%36%62%25%36%32%25%36%31%25%37%39%25%37%32%25%36%31%25%36%62%27%2c%5b%27%25%36%33%25%36%66%25%36%64%27%2c%27%25%37%39%25%36%31%25%36%38%25%36%66%25%36%66%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%79%7a%69%70%6a%36%38%3d%27%43%6f%6e%74%61%63%74%20%55%73%27%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%79%7a%69%70%6a%36%38%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%6f%74%66%77%76%38%31%29%29%3b"));</script></p></div>
		  			</div>
		  		</div>
			</div>
			<!-- //Logo and navigation -->


			<!-- Main content -->
		  	<div class="container align-center" id="main_content">
				<div class="content_container row" >
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  home_content">
						<h2 class="slogan">Ultimate anti-spam solution!</h2>
                        <h6>Use a Pismail email address anywhere and never worry about spam again. <br/>No registration, no setup, 100% free disposable email!</h6>

						<!-- CTA Button-->
						<div class="cta_button_area">
                            <div class="mailbox-container">
                                <form action="/mailbox" method="get">
                                    <div class="mailbox-container-inner">
                                        <input name="mbox" id="mailbox" type="text" placeholder="" autofocus="true" autocomplete="off" autocapitalize="off" autocorrect="off"
                                               class="hero-textbox"/><label for="mailbox"><span class="hero-tip">@pismail.com</span></label>
                                        <button type="submit" class="btn waves-effect waves-light subscribe-submit check-it">Check It</button>
                                    </div>
                                </form>
                            </div>
                            <em>Just type your e-mail address of your choice and log in. No password is needed.</em>
						</div>
						<!-- //CTA Button-->

                        <!--
						<div class="home_mockups">
							<img src="images/home_mockups_3.png" alt="" class="img_responsive home_mockups_3"/>
							<img src="images/home_mockups_2.png" alt="" class="img_responsive home_mockups_2"/>
							<img src="images/home_mockups_1.png" alt="" class="img_responsive home_mockups_1"/>
						</div>
                        -->
					</div>
				</div>
			</div>
			<!-- //Main content -->

		</section>
		<!-- //Homepage -->


		<!-- Subsection: More info -->
		<section id="more_info" class="subsection darker_bg align-center ">
			<div class="container">
				<div class="row">
                    <h3>How it works?</h3>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim1">
							<div data-icon="&#xe2fa;" class="iconbox_icon"></div>
							<div class="iconbox_content">
								<h5>You're about to fill in a registration form</h5>
								<p>Think of a @pismail address, such as foobar123@pismail.com and use it anywhere.</p>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim2">
							<div data-icon="&#xe1cc;" class="iconbox_icon"></div>
							<div class="iconbox_content">
								<h5>Activation email was sent to you</h5>
								<p>Don't worry. We'll automatically create your inbox as soon as we receive your e-mail. Just log in to your inbox and your email will be there for you.</p>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim3">
							<div data-icon="&#xe328;" class="iconbox_icon"></div>
							<div class="iconbox_content">
								<h5>That's all folks!</h5>
								<p>Your email will automatically expunge after 15 minutes. So be quick...</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- //Subsection: More info -->


		<!-- Subsection: Features -->
		<section class="subsection" id="features">
			<div class="container">
				<div class="row feature_row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_anim4">
						<h3>Pismail is easy</h3>
						<p>It is an elegant webmail solution, with a neat and user friendly interface. It works just like your Hotmail or Gmail accounts.</p>
						<p>We don't require any setups, registration and ask for passwords. Just log in to your account and your email will be waiting.</p>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 align-center content_anim5 deatures_image" >
						<img src="images/feature_mockup_1.png" alt="" class="img_responsive"/>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 align-center content_anim6 features_image" >
						<img src="images/feature_mockup_2.png" alt="" class="img_responsive"/>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_anim7">
						<h3>Soon on mobile!</h3>
						<p>Pismail is innovating fast. We're working on iOS and Android apps at the moment.</p>
						<p>Stay tuned, Pismail on mobile will be better than ever!</p>
					</div>
				</div>
			</div>
		</section>
		<!-- //Subsection: Features -->


		<!-- Subsection: Reviews -->
		<section id="reviews" class="subsection color_bg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 content_anim26">
						<div class="owl-carousel align-center">
							<!-- Review 1 -->
							<div class="single_review">
								<img src="images/review_01.jpg" alt="" class="img-circle2">
								<div class="review_content">
									<h6>I can't believe that this service is free. It really rocks!</h6>
									<p>- Some nice girl. (a possible liar)</p>
								</div>
							</div>
							<!-- //Review 1 -->


							<!-- Review 2 -->
							<div class="single_review">
								<img src="images/review_02.jpg" alt="" class="img-circle2">
								<div class="review_content">
									<h6>It is blazingly fast. I wish there was more of it.</h6>
									<p>- Anonymous</p>
								</div>
							</div>
							<!-- //Review 2 -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //Subsection: Reviews -->


		<!-- Subsection: FAQ -->
		<section id="faq" class="subsection">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center content_anim27">
						<div class="intro">
							<h3>Frequently Asked Questions</h3>
							<p>Got questions? We have answers.</p>
						</div>
					</div>
				</div>

				<div class="row align-left content_anim28">

					<!-- Q1 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>How much does this service cost?</h5>
							<p>It is completely free (as in beer). We don't even know who you are, just use it anytime, anywhere.</p>
						</div>
					</div>
					<!-- //Q1 -->

					<!-- Q2 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>So, how do you guys make money?</h5>
							<p>We are a bunch of easy going developers. We already have good jobs, so don't worry. :) Pismail is an effort to make others' lives easier. Besides, "we also hate spam"!</p>
						</div>
					</div>
					<!-- //Q2 -->

				</div>

				<div class="row align-left content_anim29">

					<!-- Q3 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>Is Pismail secure?</h5>
							<p>Pismail is not built for daily messaging. It is only useful for registration forms. Since there is no password needed to check an email account, anybody can come and read your messages. So... use it for cases, where security is not a concern.</p>
						</div>
					</div>
					<!-- //Q3 -->

					<!-- Q4 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>Will you share my information with anybody else?</h5>
							<p>Well... It is impossible. Because we don't even know anything about you. Remember, you didn't register for this service, right?</p>
						</div>
					</div>
					<!-- //Q4 -->

				</div>


				<div class="row align-left content_anim29">

					<!-- Q5 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>Some messages are modified and don't display right</h5>
							<p>Some spam email, contain Javascript and weird CSS attributes. We sanitize the email messages for your protection.</p>
						</div>
					</div>
					<!-- //Q3 -->

					<!-- Q6 -->
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="iconbox content_anim1">
							<h5>My attachments are missing</h5>
                            <p>Pismail is intended to be used only for registration forms. So, an email with an attachment would be irrelevant for this purpose. We automatically delete the attachments. Sorry...</p>
						</div>
					</div>
					<!-- //Q4 -->

				</div>
			</div>
		</section>
		<!-- //Subsection: FAQ -->

		<!-- Footer -->
		<section id="footer" class="subsection color_bg">
		  	<div class="container" >
		  		<div class="row ">
		  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 outher">
		  			<img src="images/logo.png" alt="logo" class="logo inner"/>
		  			<p class="inner">© Copyright 2015</p>
		  			<p class="float-right inner  visible-lg visible-md contact"><script type="text/javascript">eval(unescape("%6f%74%66%77%76%38%31%3d%5b%27%25%37%35%25%36%64%25%37%35%25%37%34%25%36%37%25%36%66%25%36%62%25%36%32%25%36%31%25%37%39%25%37%32%25%36%31%25%36%62%27%2c%5b%27%25%36%33%25%36%66%25%36%64%27%2c%27%25%37%39%25%36%31%25%36%38%25%36%66%25%36%66%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%79%7a%69%70%6a%36%38%3d%27%43%6f%6e%74%61%63%74%20%55%73%27%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%79%7a%69%70%6a%36%38%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%6f%74%66%77%76%38%31%29%29%3b"));</script></p>
		  			</div>
		  		</div>
			</div>
		</section>
		<!-- //Footer -->

	</div>
	<!-- //preloader -->


	<!-- JavaScript plugins comes here -->
    <script src="js/jquery-2.1.3.min.js"></script>        <!-- jQuery -->
    <script src="js/jquery.easing.min.js"></script>       <!-- jQuery easing -->
    <script src="js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="js/materialize.js"></script>     		  <!-- Materialize -->
    <script src="js/classie.js"></script>                 <!-- Class helper function -->
    <script src="js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="js/waypoints.min.js"></script>           <!-- Waypoints -->
    <script src="js/nivo-lightbox.min.js"></script>       <!-- Lightbox/Modalbox -->
    <script src="js/owl.carousel.js"></script>      	  <!-- Owl Carousel -->
    <script src="js/main.js"></script>                    <!-- Main Js file -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-64556482-1', 'auto');
      ga('send', 'pageview');
    </script>
    </body>
</html>
